body {
    background-image: url(../img/60286.jpg);
    background-repeat: no-repeat;
    /* background: #101223 */
}

.regtangle {
    background: rgba(157, 157, 157, 0.67);
    border-radius: 20px;
}

.slider_margin {
    margin-top: 20px;
}

.slider_container {
    border-radius: 15px;
    background-color: #1d1c25;
}

.slider_color {
    background-color: #1d1c25;
    margin: 0;
    padding: 0;
}

.lbl_color {
    COLOR: #ffffff;
}

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 4px;
    transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
    border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
    border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
    border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
    border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
    border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
    border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
    border-color: rgb(255, 53, 127);
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
}

.gr-btn-toggle {
    margin-left: 3rem;
    margin-top: 1rem;
}

.gr-piechart {
    /* display: flex;
    flex-wrap: wrap; */
    height: 450px;
    width: 450px;
    /* box-sizing: border-box; */
    /* margin-right: 20rem; */
    /* align-content: center; */
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration:
}


/* 
.body {
    background-color: #fdd9cc;
}

.effect {
    position: relative;
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
}

.effect .layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.effect .layer img {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
}

.effect .layer.img1 {
    transform: translateZ(-50px) scale(3.6);
}

.effect .layer.img2 {
    transform: translateZ(-200px) scale(3.1);
}

.effect .layer.img3 {
    transform: translateZ(-110px) translate(10%, 15%) scale(1.9);
}

.effect .layer.img4 {
    transform: translateZ(-109px) translatey(60%) scale(2.1);
}

.effect .layer.img5 {
    transform: translateZ(-56px) translatey(50%) scale(1.57);
}

.effect .layer.img6 {
    transform: translateZ(0px) scale(1);
}

.cover {
    background: #101223;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 200;
} */